
.my-name{
    color: palegreen;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, green);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.top-banner{
    background-image: url(images/top-banner.png);
}
.full-width
{
    width: 45%;
    padding-left: 4%;
    
}
.less-bannar
{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    
}
.ancor-button{
    background-image: linear-gradient(blue,cyan);
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
}
